.container {
    display: flex;
    border: thin solid black;
    width: 100%;
}

.container-top {
    justify-content: center;
    align-items: center;
    height: 10vh;
    flex-direction: row
}

.container-main {
    justify-content: left;
    align-items: center;
    height: 75vh
}

.container-