body {
    background-image: url('/images/background.jpg_large');
    background-size: 100%;
    background-size: cover;
}

.container {
    display: flex;
    width: 100%;
}

.container-top {
    justify-content: center;
    align-items: center;
    height: 10vh;
    flex-direction: row
}

.container-main {
    justify-content: left;
    align-items: center;
    height: 75vh;
    flex-wrap: wrap;
}

.container-character {
    height: 100%;
    flex-direction: column;
    width: 33%;

}

.container-name {
    justify-content:center;
    font-size: 3rem
}

.container-image {
    align-items:top;

    height: 80%;
    width: 100%

}

.container-text {
    text-overflow: wrap;
    text-align: left;
    height: 20%;
    display: none;
    font-size: 2rem;
    color: red
}

.container-buttons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
}


.button {
    margin: 0 auto;
}

button {
    width: 10rem;
    height: 3rem;
    border-radius: 10%
}

img {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 15%
}

